@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #050505;
  color-scheme: dark;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
}

canvas {
  touch-action: none;
}

.text-glow {
  text-shadow: 0 0 15px rgba(255, 191, 0, 0.6);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #B87333;
  border-radius: 10px;
}